@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    123 Program St.<br />
    Saint Louis, MO 63109<br />
    <abbr title="Phone">P:</abbr>
    314.363.3450
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@PhoneScreenSolution.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@PhoneScreenSolution.com</a>
</address>
