@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/codepair (2).jpg" alt="Visual Studio" class="img-responsive" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Help</h2>
        <ul>
            <li><a href="https://wikipedia.com">Frequently Asked Questions</a></li>

        </ul>
    </div>
    <div class="col-md-6">
        <h2>Documentation</h2>
        <ul>
            <li><a href="https://microsoft.com">how to use this software</a></li>
        </ul>
    </div>
</div>
